{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% extends _entity_config.templates.layout %}

{% block content_title %}
    {{ _entity_config.name }}
{% endblock %}

{% block main %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Ценообразование
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="profit">Маржинальность</label>
                            <input type="text" class="form-control" id="profit">
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
