.root {
    margin-bottom: 15px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    font-size: var(--font-size-base);
    background: var(--color-lightgrey);
    border-radius: 5px;
}

.pointer {
    cursor: pointer;
}

.body {
}

.title {
    font-weight: 500;
}

.description {
    font-size: var(--font-size-small);
    margin-top: 5px;
}

.actions {
    margin-left: auto;

    & > * + * {
        margin-left: 5px;
    }
}

.active {
    box-shadow: 0 0 0 2px var(--color-primary);
}
