@include new('article-content') {
    color: #000;
    @include column(12);
    @include breakpoint($screen-md) {
        @include column(9, 12);
        border-right: 1px solid #ccc;
        padding-right: 15px;
    }

    @include has('title') {
        @include TextProExtraThin;
        line-height: 1;
        font-size: calculateRem(50px);
        letter-spacing: 1px;
        margin-bottom: 16px;
    }

    @include has('meta') {
        @include TextProMedium;
        font-size: calculateRem(15px);
        line-height: 1.5;
    }

    @include has('author') {
        position: relative;
        margin-right: 17px;
        text-decoration: underline;

        &:after {
            position: absolute;
            right: -10px;
            content: '|';
        }
    }

    @include has('social') {
        margin-top: 15px;
    }

    @include has('body') {
        font-size: calculateRem(15px);
        line-height: 1.4;
        margin: 20px 0 25px;
        h2,
        h3 {
            margin: 5px 0;
        }
        p {
            margin: 15px 0 0;
        }
        a {
            text-decoration: underline;
        }
        img {
            margin: 20px auto 25px;
        }
    }

    @include has('video') {
        @include no-column();
        text-align: center;
        margin-bottom: 25px;

        iframe {
            max-width: 100%;
            width: 100%;
        }
    }
}
