@include new('page-brand') {
    @include has('list') {
        @include row(10);

        &-item {
            @include column(5);
            @include breakpoint($screen-md) {
                @include column(2);
            }
        }
    }

    @include has('letter') {
        font-size: calculateRem(16px);
        padding: 15px 10px 5px 10px;
        color: $color-dark;
        border-bottom: 1px solid;
        margin-bottom: 10px;
    }

    @include has('link') {
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        display: inline-block;
        line-height: 1em;
        text-overflow: ellipsis;

        @include when('bold') {
            font-weight: bold;
        }
    }
    & .typography__h1 {
        padding: 15px 0;
    }
}
