@include new('user-page') {
    @include row();

    &-remind-password {
        margin: 0 auto;
        max-width: 40%;

        @include has('btn') {
            margin-top: 10px;
            display: block;
            width: 100%;
        }

        @include has('link') {
            text-decoration: underline;
        }
    }
}
