@include new('articles-preview') {
    text-align: center;
    color: #000;

    @include has('row') {
        @include row(12);
    }

    @include has('title') {
        font-size: calculateRem(35px);
        margin: calculateRem(25px) 0;
        @include TextProExtraThin;
    }
}
