@include new('brand-sale') {
    @include no-column();
    text-align: center;
    @include breakpoint($DESCKTOP) {
        @include column(6, 12);
        position: relative;
        padding: 0 11px;
        height: 26.875rem;
        float: right;
    }

    @include has('image') {
        display: block;
        img {
            width: 100%;
            display: block;
        }
        @include breakpoint($DESCKTOP) {
            position: relative;
            height: 276px;
            img {
                position: absolute;
                bottom: 0;
            }
        }
    }

    @include has('title') {
        @include TextProLight;
        font-size: 1.125rem;
        line-height: 1.5rem;
        color: #333;
        margin-top: 10px;
    }

    // later move to buttons.scss
    @include has('button') {
        display: inline-block;
        color: #fff;
        padding: 2px 15px;
        font-size: calculateRem(16px);
        text-align: center;
        line-height: 25px;
        @include TextProMedium;
        text-align: center;
        margin: 15px auto 0;
        text-transform: uppercase;
        background: #db0119;
        &:after {
            content: '»';
            font-weight: bold;
            font-size: 30px;
            position: relative;
            top: 2px;
            margin-left: 5px;
            display: inline-block;
        }
    }
}
