@include new('filtertiles') {
    display: none;
    list-style: none;
    position: fixed;
    width: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    padding: 40% 0;

    &.is-show-filters {
        display: block;
    }

    @include breakpoint($screen-md-fl) {
        @include row(12);

        position: static;
        background: none;
        top: 0;
        transform: none;
        padding: 0px;
    }

    @include has('wrap') {
        width: 95%;
        background: #fff;
        box-sizing: border-box;
        margin: 0 auto;
        overflow: hidden;
        position: relative;

        @include breakpoint($screen-sm) {
            width: 80%;
        }

        @include breakpoint($screen-md-fl) {
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: visible;
        }
    }

    @include has('close') {
        display: block;
        width: 30px;
        height: 30px;
        padding: 4px;
        margin: 20px auto;
        background: none;
        border: none;
        color: #fff;
        font-size: 24px;

        @include breakpoint($screen-md-fl) {
            display: none;
        }
    }

    @include has('back') {
        position: absolute;
        right: 20px;
        top: 20px;
        border: none;
        background: none;
        transition: transform 0.35s;
        transform: translateX(300%);
        color: #fff;
        font-size: 18px;

        .is-open-sub & {
            transform: translateX(0);
        }

        img {
            transform: rotate(90deg);
            height: 20px;
        }

        @include breakpoint($screen-md-fl) {
            display: none;
        }
    }

    @include has('wrapper') {
        @include no-column;

        @include breakpoint($screen-md-fl) {
            @include column(2, 12);
        }

        &:nth-child(6n + 1) .filtertiles__dropmenu {
            right: -$PADDINGS / 15;

            & .filtertiles__dropmenu-white {
                right: -$PADDINGS / 15;
                left: inherit;
            }
        }
    }

    @include has('item') {
        @extend %clearfix;

        @include breakpoint($screen-md-fl) {
            background-color: $color-buttongrey;
            border: 1px solid $COLORLINES;
            vertical-align: top;
            display: inline-block;
            width: 100%;
            position: relative;
            margin-top: calculateRem($PADDINGS / 2);
            margin-right: calculateRem($PADDINGS / 2);

            &.loading {
                .filtertiles__item-name {
                    background-image: url($img-path+'preload.gif');
                    background-repeat: no-repeat;
                    background-position: 70% center;
                    background-size: 50px auto;
                }
            }

            &.openfilter {
                background-color: $WHITE;
                border-color: $color-grey;
                border-bottom: 1px solid #fff;
                z-index: 5;

                & .filtertiles__dropmenu {
                    display: block;
                }

                & .filtertiles__item-name {
                    background-color: #fff;
                }

                & .filtertiles__item-name-i {
                    -webkit-transform: rotate(-180deg);
                    -moz-transform: rotate(-180deg);
                    -o-transform: rotate(-180deg);
                    display: inline-block;
                    padding-left: 8 * $PADDINGS / 15;
                    vertical-align: text-top;
                    text-indent: 0px;
                    background-color: $WHITE;
                }
            }
        }

        &-name {
            padding: 10px 0px 10px 20px;
            display: inline-block;
            width: 100%;
            float: left;
            box-sizing: border-box;
            border-bottom: 1px solid $COLORLINES;
            cursor: pointer;

            .is-open-sub & {
                transform: translateX(-100%);

                @include breakpoint($screen-md-fl) {
                    transform: translateX(0);
                }
            }

            img {
                float: right;
                margin-right: 20px;
                transform: rotate(-90deg);
                height: 20px;
                cursor: pointer;

                @include breakpoint($screen-md-fl) {
                    display: none;
                }
            }

            @include breakpoint($screen-md-fl) {
                float: none;
                width: 100%;
                display: block;
                border-bottom: none;
                padding: calculateRem($PADDINGS / 3);
                z-index: 3;
                overflow: hidden;
                position: relative;

                &-link {
                    @include TextProLight;

                    font-size: calculateRem(13px);
                    white-space: nowrap;
                    color: $color-dark;
                    text-decoration: none;
                    padding-left: calculateRem(2 * $PADDINGS / 5);
                    cursor: default;
                    cursor: pointer;
                }

                &-i {
                    background: url($img-path+'down-arrow.png') no-repeat;
                    cursor: pointer;
                    width: 2 * $gutter / 5;
                    height: $HEADERHEAD / 5;
                    background-size: contain;
                    position: absolute;
                    right: calculateRem(4.4 * $PADDINGS / 6);
                    top: 7 * $PADDINGS / 15;
                    background-color: $color-buttongrey;
                }
            }
        }
    }

    @include has('chevron') {
        color: $color-dark;

        &:before {
            border-style: solid;
            border-width: 0.1em 0.1em 0 0;
            content: '';
            display: inline-block;
            height: 0.35em;
            left: 0.15em;
            position: relative;
            top: 0.15em;
            transform: rotate(-45deg);
            vertical-align: middle;
            width: 0.4em;
            margin-top: 0.25em;
            margin-right: 0.5em;
            float: right;
        }

        @include when('down') {
            &:before {
                top: 0;
                transform: rotate(135deg);
            }
        }
    }

    @include has('dropmenu') {
        position: absolute;
        width: 100%;
        max-width: none;
        height: 100%;
        border: none;
        top: 45px;
        display: none;
        padding: 15px 20px;

        .is-open-currentsub & {
            display: block;
        }

        @include breakpoint($screen-md-fl) {
            display: none;
            transform: translateX(0);

            @include TextProLight;

            width: auto;
            top: auto;
            height: calculateRem(280px);
            background: $WHITE;
            margin-top: -1px;
            margin-left: -1px;
            vertical-align: top;
            white-space: nowrap;
            text-align: left;
            border: 1px solid $color-grey;
            z-index: 1;
            color: $color-dark;
            padding: (0.5 * $PADDINGS) (11 * $PADDINGS / 15);
            max-width: calculateRem(202px);
            font-size: calculateRem(11pt);
        }

        &-search {
            width: 100%;
            display: inline-block;
            margin-bottom: 10px;
            padding: 15px 10px;
            border: 1px solid $COLORLINES;

            @include breakpoint($screen-md-fl) {
                padding: (0.3 * $PADDINGS) (0.2 * $PADDINGS);
            }
        }

        &:hover {
            z-index: 2;
        }

        &_list {
            @extend %scrollbar;

            background: $WHITE;
            height: 75%;
            list-style: none;
            min-width: 88 * $gutter / 15;
            text-align: justify;

            @include breakpoint($screen-md-fl) {
                height: calculateRem(225px);
            }
        }

        &_button {
            margin-right: 16%;
            margin-top: 5%;
        }

        &_item {
            padding: 10px 20px;
            border-bottom: 1px solid $COLORLINES;

            @include breakpoint($screen-md-fl) {
                padding: 0 0 0 10px;
                margin-bottom: 0.5 * $PADDINGS;
                box-sizing: content-box;
                font-size: calculateRem(12px);
                border-bottom: none;

                &:hover {
                    background: $TEXTBACKGORUND;
                    color: $color-dark;
                    cursor: pointer;
                }

                &.active-1 {
                    background-image: url($img-path+'remove.png');
                    background-repeat: no-repeat;
                    background-position: center left;
                    background-size: auto 60%;
                }
            }
        }

        &-white {
            width: 67.18 * $gutter / 15;
            height: $HEADERHEAD / 6;
            position: absolute;
            background-color: white;
            top: -2 * $PADDINGS / 3;
            left: -$PADDINGS / 15;
            border-left: 1px solid $color-grey;
            border-right: 1px solid $color-grey;
        }
    }
}
