@font-face {
    font-display: swap;
    font-family: 'PFDinTextPro';
    src: url('./pfdintextpro-thin.woff2') format('woff2'), url('./pfdintextpro-thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
