.label {
    cursor: pointer;
    height: 13px;
    width: 13px;
    padding: 0 1px;
    font-size: 0;
    color: var(--color-primary);

    &::before {
        content: '\2606';
        cursor: pointer;
        font-size: 18px;
    }
}

.active ~ .label {
    color: var(--color-font);
}

.input {
    display: none;
}
