@font-face {
    font-display: swap;
    font-family: 'PFDinTextPro';
    src: url('pfdintextpro-medium.woff2') format('woff2'), url('pfdintextpro-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
