@font-face {
    font-display: swap;
    font-family: 'PFDinTextCondPro';
    src: url('./pfdintextcondpro-medium.woff2') format('woff2'),
        url('./pfdintextcondpro-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
