@font-face {
    font-display: swap;
    font-family: 'PFDinTextPro';
    src: url('./pfdintextpro-light.woff2') format('woff2'), url('./pfdintextpro-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
