*,
*::before,
*::after {
    box-sizing: border-box;
}

b,
strong {
    font-weight: 500;
}

body {
    line-height: 1.5;
    /*font-size: 15px;*/
    color: var(--color-font);
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
