.nav {
    margin-left: auto;
}

.root {
    font-size: var(--font-size-base);
}

.header {
    display: flex;
    justify-content: center;
    padding: 15px;
    position: relative;
    border-bottom: 2px solid #f2f5f4;
}

.title {
    font-size: 20px;
    margin: 0;

    @media (--viewport-desktop) {
        font-size: 32px;
        font-weight: 300;
        color: #424242;
    }
}

.amountSelect {
    font-size: var(--font-size-base);
    color: #757575;
    background: none;
    border: 0;
}

.removeButton {
    background: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    transition: color 0.2s ease;

    &:hover,
    &:focus {
        color: var(--color-primary);
    }
}

.productsFooter {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
}

.productsFooterItem {
    margin: 5px 0;

    @media (--viewport-tablet) {
        margin: 0;
    }
}

.block {
    padding: 15px;
}

.blockTitle {
    font-size: 20px;
    margin-bottom: 15px;
}

.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1300;

    @media (--viewport-tablet) {
        position: static;
        box-shadow: none;
        margin-top: 40px;
    }
}

.empty {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
}
